.card {
  max-width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

.card-title {
  padding-bottom: 0px;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.sender,
.subject,
.body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sender {
  font-weight: bold;
}
.subject {
  font-weight: 400;
}
.body {
  font-weight: 300;
}